@import './base.css';
@import './rainbowBorder.css';
@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000e27;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: underline;
}

.bg-footer {
  background-color: #000e27;
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      #01060e 12%,
      transparent 12.5%,
      transparent 87%,
      #01060e 87.5%,
      #01060e
    ),
    linear-gradient(150deg, #01060e 12%, transparent 12.5%, transparent 87%, #01060e 87.5%, #01060e),
    linear-gradient(30deg, #01060e 12%, transparent 12.5%, transparent 87%, #01060e 87.5%, #01060e),
    linear-gradient(150deg, #01060e 12%, transparent 12.5%, transparent 87%, #01060e 87.5%, #01060e),
    linear-gradient(
      60deg,
      #01060e77 25%,
      transparent 25.5%,
      transparent 75%,
      #01060e77 75%,
      #01060e77
    ),
    linear-gradient(
      60deg,
      #01060e77 25%,
      transparent 25.5%,
      transparent 75%,
      #01060e77 75%,
      #01060e77
    );
  background-size: 26px 46px;
  background-position:
    0 0,
    0 0,
    13px 23px,
    13px 23px,
    0 0,
    13px 23px;
}
.bg-gradient {
  background: linear-gradient(to bottom, #000e27 50%, #112429 100%);
}
.bg-color {
  background: #000e27;
}

.bg-pattern {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(#f6f6ff 2px, transparent 2px),
    linear-gradient(90deg, #f6f6ff 2px, transparent 2px),
    linear-gradient(#f6f6ff 1px, transparent 1px), linear-gradient(90deg, #f6f6ff 1px, #ffffff 1px);
  background-size:
    50px 50px,
    50px 50px,
    10px 10px,
    10px 10px;
  background-position:
    -2px -2px,
    -2px -2px,
    -1px -1px,
    -1px -1px;
}

.bg-gradient-invert {
  background: linear-gradient(to top, #000e27 66%, #112429 100%);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 92%, 19%, 0.692);
  }
}
